.titulo {
  text-align: center;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.boton{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #591BB7;
  --color: #ffffff;
  --background-activated: #300078;
}