.container {
  display: flex;
  justify-content: center;                
}

.cuadro {
  width: 370px;
  height: 179px;
  background-color: #591BB7;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
}

.boton{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #591BB7;
  --color: #ffffff;
  --background-activated: #300078;
}

