<ion-content class="ion-padding">
  <div class="container">
    <div class="cuadro">
      <h1 class="titulo">AYUDANTIAPP</h1>
    </div>
  </div>
    
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input label="Usuario" 
        label-placement="floating" fill="outline" 
        placeholder="Usuario 1"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="Contraseña" 
        label-placement="floating" fill="outline" 
        placeholder="xxxxxxxxxxx"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="boton" 
          (click)="login()">
          Iniciar sesión
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="boton"
          routerLink="/registro" >
          Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
    

    
  
</ion-content>